/.mvn
/.idea
# Created by .ignore support plugin (hsz.mobi)
/zuulproxy/target/
/discovery/target/
/springcloudconftest.iml

springcloudconftest.iml

/secondesimpleservice/target/
/simpleservice/target/
